@model IEnumerable<LibrarySystem.Models.Books>

@{
    ViewData["Title"] = "Book";
}
<p>
    <a asp-action="Create">New Book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authories.AuthorsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BooksID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BooksID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BooksID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
